 .container{
   max-width: 900px;
   margin: 100px;
 }

.row{
  display: flex;
}

.col-1{
  width: 8.333333333%;
}

.col-2{
  width: 16.6666666666%;
}

.col-3{
  width: 24.999999999%;

}

.col-4{
  width: 33.333333333%;
}

.col-5{
  width: 41.666666666%;
}

.col-6{
  width: 49.999999999%;
}

.col-7{
  width: 58.333333331%;
}

.col-8{
  width: 64.6666666664%;
}

.col-9{
  width: 74.9999999999%;
}

.col-10{
  width: 83.3333333331%;
}

.col-11{
  width: 91.6666666663%;
}

.col-12{
  width: 100%;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  padding: 10px;
}
@media (max-width: 900px) {
  .row{
    display: inherit;
  }
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    width: 100%;
  }
}

/* container > row > columnd */
